# Created with jdDesktopEntryEdit 1.8
[Desktop Entry]
Type=Application
Name=Porymap
Comment=A map editor for the Pokémon generation 3 decompilation projects
Icon=io.github.huderlem.porymap
Exec=porymap
Categories=Game;GameTool;Utility;Qt;
Keywords=Nintendo;Pokemon;GameBoy;GBA;Hack;Mapeditor;
